<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<footer class="footer-distributed" th:fragment="footer">
    <div class="footer-left">
        <h3>
            Recipository
        </h3>
        <p class="footer-links">
            <a href="#" class="link-1">Home</a>
            <a href="https://gyuggling.tistory.com/category/%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8/Recipository">Blog</a>
            <a href="https://github.com/Gyuhwan-Kim/Recipository">About</a>
            <a href="https://alike-brook-60d.notion.site/c171016f2c3c4f49a0fb04d270e94faf">Contact</a>
        </p>
        <p class="footer-company-name">(LC) Lueble Company © 2022</p>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p>
                <span>대한민국, Republic of Korea</span>
            </p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>프라이버시</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p>
                <a href="mailto:support@company.com">support@company.com</a>
            </p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span> Lorem ipsum dolor sit amet,
            consectateur adispicing elit. Fusce euismod convallis velit, eu
            auctor lacus vehicula sit amet.
        </p>
        <div class="footer-icons">
            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
            <a href="https://www.google.co.kr/"><i class="fa fa-google"></i></a>
            <a href="https://kr.linkedin.com/"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/Keunyeong/The_seat"><i class="fa fa-github"></i></a>
        </div>
    </div>
</footer>
</html>