<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="navi">
    <a href="/" th:href="@{/}">
      <img th:src="@{/image/logo.png}" alt="">
    </a>
    <form class="search_form" action="">
      <select name="" id="">
        <option value="">제목</option>
        <option value="">내용</option>
        <option value="">제목+내용</option>
      </select>
      <input type="text" placeholder="검색어를 입력하세요.">
      <button class="btn btn-light" type="submit">검색</button>
    </form>
    <a class="btn btn-primary" href="/loginform">로그인</a>
    <a class="btn btn-success" href="">회원가입</a>
  </div>
</html>