<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="navi" class="row">
  <div class="col-3 text-center">
    <a href="/" th:href="@{/}">
      <img src="/lib/image/logo.png" alt="" style="width: 100%;">
    </a>
  </div>
  <div class="col" style="padding-top: 85px;">
    <form class="search_form" action="/page/1" method="get">
      <div class="row">
        <div class="col">
          <select class="form-select text-center" name="type" id="type" style="width: 130px;">
            <option value="title" th:selected="${searchData == null}
                                              or ${searchData.type} == 'title'">제목</option>
            <option value="writer" th:selected="${searchData != null}
                                              and ${searchData.type} == 'writer'">작성자</option>
            <option value="content" th:selected="${searchData != null}
                                                and ${searchData.type} == 'content'">내용</option>
          </select>
        </div>
        <div class="col-7">
          <label for="keyword" style="display: none;"></label>
          <input type="text" class="form-control text-center"
                 name="keyword" id="keyword" placeholder="검색어를 입력하세요."
                 th:value="${searchData != null and searchData.keyword != null}
                            ? ${searchData.keyword} : ''">
        </div>
        <div class="col">
          <button class="btn btn-light col" type="submit" id="searchBtn">검색</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row col-3 justify-content-center" style="padding-top: 85px; padding-bottom: 85px;">
    <a class="btn btn-primary navBtn col-5" href="/login-form"
       sec:authorize="!isAuthenticated()">로그인</a>
    <a class="btn btn-success navBtn col-5" href="/signin-form"
       sec:authorize="!isAuthenticated()">회원가입</a>
    <a class="btn btn-success navBtn col-5" href="/user/my-page"
       sec:authorize="isAuthenticated()">마이 페이지</a>
    <form class="btn btn-secondary navBtn col-5" th:action="@{/logout}" method="post"
          sec:authorize="isAuthenticated()" style="height: 38px;">
      <button class="btn btn-secondary logout">로그아웃</button>
    </form>
  </div>
</div>
</html>