<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>write.html</title>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</head>
<link rel="stylesheet" href="/lib/css/bootstrap.css">
<link rel="stylesheet" href="/lib/css/contentform.css">
<style>
    .search_form{
      display:inline;
    }
    a{
        text-decoration: none;
    }
    .reply{
        margin-top: 10px;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/navibar :: navi"></div>
    <div class="content">
        <span th:text="${#httpServletRequest.getContextPath()}"></span>
        <h2 class="row col-8">게시글</h2>
        <div class="row col-8">
            <div th:if="${recipe.writer} == ${#authentication.name}">
                <a th:href="@{/user/delete/{contentId}(contentId = ${recipe.contentId})}"
                   class="btn btn-light float-end">삭제</a>
                <a th:href="@{/user/content_updateform/{contentId}(contentId = ${recipe.contentId})}"
                   class="btn btn-light float-end">수정</a>
            </div>
        </div>
        <div class="row col-8">
            <label for="title">제목</label>
            <div class="col">
                <input type="text" id="title" name="title" class="form-control"
                       style="background-color: white;" th:value="${recipe.title}" disabled>
            </div>
        </div>
        <div class="row col-8">
            <label for="writer">작성자</label>
            <div class="col">
                <input type="text" id="writer" name="" class="form-control"
                       style="background-color: white;" th:value="${recipe.writer}" disabled>
            </div>
        </div>
        <div class="row col-8">
            <label for="regDate">작성 일시</label>
            <div class="col">
                <input type="text" id="regDate" name="" class="form-control"
                       style="background-color: white;" th:value="${recipe.regDate}" disabled>
            </div>
            <label for="modDate">수정 일시</label>
            <div class="col">
                <input type="text" id="modDate" name="" class="form-control"
                       style="background-color: white;" th:value="${recipe.modDate}"disabled>
            </div>
        </div>
        <div class="row col-8">
            <label for="content">내용</label>
            <div class="col-8 input">
                <textarea name="content" id="content" cols="30" rows="10"
                          class="form-control" style="height: 240px;background-color: white;"
                          th:text="${recipe.content}"disabled></textarea>
            </div>
            <div class="col-4" style="padding-left: 35px;">
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="/lib/image/no_image.png" alt="" id="image"
                         name="image" style="width: 240px; height: 240px;">
                </a>
                <div class="row">
                <div class="col">
                    <span>조회수 :
                        <span th:text="${recipe.viewCount}"></span>
                    </span>
                </div>
                <div class="col">
                    <span>좋아요 :
                        <span th:text="${recipe.likeCount}"></span>
                    </span>
                </div>
                </div>
            </div>
        </div>
        <div class="row col-8" style="float: none; margin:0 auto;">
            <label for="" style="float: none; margin:0 auto;">카테고리</label>
        </div>
        <div class="row col-8">
            <label for="link" style="width: 150px;">참고 링크</label>
            <ul id="link">
                <li th:each="link : ${recipe.link}">
                    <a href="" class="refLink form-control" th:text="${link}"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="comment" id="commentDiv">
        <h2 class="row col-8">댓글</h2>
        <div class="row col-8" th:each="comment : ${commentList}">
            <div th:if="${comment.groupId} == ${comment.commentId}">
                <div th:replace="fragments/comment :: normal(${comment})"></div>
            </div>
            <div th:if="${comment.groupId} != ${comment.commentId}">
                <div th:replace="fragments/comment :: reply(${comment})"></div>
            </div>
        </div>
    </div>
    <div class="row col-8 reply" sec:authorize="isAuthenticated()">
        <form class="row" action="/user/add-comment" id="commentForm" method="post">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="29"
                 fill="currentColor" class="bi bi-arrow-return-right col-1" viewBox="0 0 16 16"
                 id="replyIcon" style="display: none;">
                <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5
                2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5
                0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
            </svg>
            <input type="text" id="comment" name="comment" class="form-control col" required>
            <input type="hidden" name="targetId" th:value="${recipe.contentId}">
            <input type="hidden" name="groupId" id="groupId">
            <button class="btn btn-primary float-end col-1" type="submit">작성</button>
            <button class="btn btn-light float-end col-1" id="replyCancel">취소</button>
        </form>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="${recipe.title}">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <img src="/lib/image/no_image.png" alt="">
        </div>
    </div>
</div>
</body>
<script src="/lib/js/bootstrap.bundle.js"></script>
<script th:inline="javascript" src="/app/content.js"></script>
</html>