<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>loginform.html</title>
</head>
<body>
    <div class="container">
        <a href="/" th:href="@{/}">
            <img src="/lib/image/logo.png" alt="">
        </a>
        <form th:action="@{/login}" method="post" id="loginForm">
            <label for="username">Email</label>
            <input type="text" id="username" name="username" required="required">
            <br>
            <label for="password">Password</label>
            <input type="text" id="password" name="password" required="required">
            <br>
            <button type="submit">로그인</button>
        </form>
    </div>
</body>
</html>