<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>loginform.html</title>
    <link rel="stylesheet" href="/lib/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/css/signin-loginform.css">
</head>
<body>
    <div class="container">
        <div id="logo" class="text-center">
            <a href="/" th:href="@{/}">
                <img src="/lib/image/logo.png" alt="">
            </a>
        </div>
        <br>
        <form th:action="@{/login}" method="post" id="loginForm">
            <div class="row col-sm-5" style="float: none; margin:0 auto;">
                <label for="username">Email</label>
                <div class="col">
                    <input type="text" id="username" name="username"
                           class="form-control text-center" required="required">
                </div>
            </div>
            <div class="row col-sm-5" style="float: none; margin:0 auto;">
                <label for="password">Password</label>
                <div class="col">
                    <input type="text" id="password" name="password"
                           class="form-control text-center" required="required">
                </div>
            </div>
            <div class="row col-sm-5" style="float: none; margin:0 auto;">
                <button type="submit" id="submitBtn" class="btn btn-primary">로그인</button>
            </div>
        </form>
    </div>
</body>
</html>