<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>my-page</title>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link rel="stylesheet" href="/lib/css/bootstrap.css">
    <link rel="stylesheet" href="/lib/css/navigation-bar.css">
    <link rel="stylesheet" href="/lib/css/my-page.css">
</head>
<style>
    .menubox{
        display:inline-block;
    }
</style>
<body>
<div class="container">
    <div th:replace="fragments/navibar :: navi"></div>
    <h1>My Page</h1>
    <div class="row">
        <div class="col-2 text-center" style="margin-left: 50px;">
            <ul>
                <li>
                    <button class="btn btn-light btn-lg"
                            onclick="location.href='/user/my-page'">내 게시글</button>
                </li>
                <li>
                    <button class="btn btn-light btn-lg"
                            onclick="location.href='/user/contents-form'">글쓰기</button>
                </li>
                <li>
                    <button th:data-num="${pagination.pageNum}" class="btn btn-light btn-lg"
                            id="deleteBtn">글 삭제</button>
                </li>
                <li>
                    <button class="btn btn-light btn-lg"
                            id="profileBtn">프로필</button>
                </li>
                <li>
                    <button class="btn btn-light btn-lg"
                            id="exitBtn">회원 탈퇴</button>
                </li>
            </ul>
        </div>
        <div class="d-flex col-1" style="height: 450px;">
            <div class="vr"></div>
        </div>
        <div id="templateDiv" class="col templateDiv">
            <h2>내 글 모아보기</h2>
            <div th:replace="fragments/menubox :: menubox"></div>
            <div th:replace="fragments/pagination :: my-pagination"></div>
        </div>
    </div>
</div>
</body>
<script src="/app/my-page.js"></script>
</html>