<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>main.html</title>
  <link rel="stylesheet" href="/lib/css/bootstrap.css">
  <link rel="stylesheet" href="/lib/css/navigation-bar.css">
  <style>
    .menubox{
      display:inline-block;
    }
  </style>
</head>
<body>
<div class="container">
  <div th:replace="fragments/navibar :: navi"></div>
  <div>
    <div>
      <button class="btn btn-light float-end" sec:authorize="isAuthenticated()">
        <a href="/user/contents-form" style="text-decoration: none; text-color: black;">글쓰기</a>
      </button>
    </div>
  </div>
  <div th:replace="fragments/menubox :: menubox"></div>
  <br>
  <div th:replace="fragments/pagination :: pagination"></div>
</div>
</body>
</html>